@import '~antd/dist/antd.css';

:root {
  --body-top-margin: 2em;
  --body-left-margin: 3em;
}

header.ant-layout-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 2em;
}

header > h3.ant-typography {
  color: #fff;
  float: left;
  text-align: center;
}

header > .ant-menu {
  float: right;
}

.ant-layout-content {
  margin: var(--body-top-margin) var(--body-left-margin);
}

.nerd-stats {
  margin: 0 0;
}

